<div>
    <% Object.keys(api).forEach(function (key) { %>
        <h2 id="<%= api[key].target %>"><%= api[key].name %></h2>
        <% api[key].children.forEach(function (child) { %>
            <h3 class="bg-success" style="color: #09c; padding: 5px 10px; display: table;" id="<%= child.target %>"><%= child.name %></h3>
            <% child.container && child.container.forEach(function (api) { %>
                <div style="margin: 30px 0;">
                    <p class="bg-info" style="display: table; padding: 3px 8px;"><%= api.name %></p>
                    <div class="well"><%= api.api %></div>
                </div>
            <% }) %>
        <% }) %>
        <hr class="main-hr">
    <% }) %>
</div>